body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock {
  width: 150px;
  height: 150px;
  border: 2px solid aquamarine;
  border-radius: 50%;
  position: relative;
}

.hand {
  position: absolute;
  background-color: black;
  transform-origin: 50% 100%;
  top: 50%;
  left: 50%;
}

.hour-hand {
  height: 40px;
  width: 4px;
  animation: rotate-hour 43200s infinite linear;
}

.minute-hand {
  height: 60px;
  width: 2px;
  animation: rotate-minute 3600s infinite linear;
}

.second-hand {
  height: 70px;
  width: 1px;
  animation: rotate-second 60s infinite linear;
}

.point {
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

@keyframes rotate-hour {
  from { transform: translate(-50%, -100%) rotate(0deg); }
  to { transform: translate(-50%, -100%) rotate(360deg); }
}

@keyframes rotate-minute {
  from { transform: translate(-50%, -100%) rotate(0deg); }
  to { transform: translate(-50%, -100%) rotate(360deg); }
}

@keyframes rotate-second {
  from { transform: translate(-50%, -100%) rotate(0deg); }
  to { transform: translate(-50%, -100%) rotate(360deg); }
}